#####################################
# FOR WP-CONTENT DIRECTORY .HTACCESS

# Limit Access to the Wp-Content Directory
#Order deny,allow
#Deny from all
#<Files ~ ".(xml|css|jpeg|png|gif|js|php)$">
#Allow from all
#</Files>
<FilesMatch "\.(?i:php)$">
  <IfModule !mod_authz_core.c>
    Order allow,deny
    Deny from all
  </IfModule>
  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>
</FilesMatch>